body:not(.no-heading-level-in-lp) .is-live-preview .cm-header::before {
    font-family: var(--font-monospace);
    font-size: 0.75/4rem;
    font-style: normal;
    line-height: 1em;
    color: var(--text-muted);
    position: relative;
    bottom: 1px;
    left: -2px;
    padding-right: 4px;
    padding-left: 4px;
}

body:not(.no-heading-level-in-lp) .is-live-preview .cm-line:not(.cm-active)>.cm-header-1::before {
    content: "H1";
    color: #e06e6e;
}

body:not(.no-heading-level-in-lp) .is-live-preview .cm-line:not(.cm-active)>.cm-header-2::before {
    content: "H2";
    color: #f3a368;
}

body:not(.no-heading-level-in-lp) .is-live-preview .cm-line:not(.cm-active)>.cm-header-3::before {
    content: "H3";
    color:#e5c76b;
}

body:not(.no-heading-level-in-lp) .is-live-preview .cm-line:not(.cm-active)>.cm-header-4::before {
    content: "H4";
    color: #8ccf7e;
}

body:not(.no-heading-level-in-lp) .is-live-preview .cm-line:not(.cm-active)>.cm-header-5::before {
    content: "H5";
    color: #c47fd5;
}

body:not(.no-heading-level-in-lp) .is-live-preview .cm-line:not(.cm-active)>.cm-header-6::before {
    content: "H6";
    color: #f3a368;
}